@model IEnumerable<SmokeUI.Models.PropertyViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Properties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { Id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { PropertyId=item.Id, ParentId=item.parentId }) |
                @Html.ActionLink("Delete", "Delete", new { Id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
